.time {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
}
.timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 10;
}
.time-item1 {
  font-size: 4vh;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 5px;
}
.time-item2 {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.781);
}
.time-item3 {
  padding-top: 20px;
  font-size: 1.75rem;
  font-weight: bolder;
  color: #ff8811;
  margin-bottom: 5px;
}
