@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #0d0f1c;
  display: grid;
  grid-template-columns: 500px 3fr;
  grid-template-rows: 1fr;
  padding-bottom: 20px;
}
.time-section {
  grid-area: time;
}
.forecast-section {
  grid-area: forecast;
}
.air-section {
  grid-area: air;
}
.pre-section {
  grid-area: pre;
}
.sun-section {
  grid-area: sun;
}
.app__left {
  max-width: 1400px;
  padding: 0 20px;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 180px 350px 1fr;
  grid-template-areas:
    "time time time" "air pre sun"
    "forecast forecast forecast";
}

.app__right {
  justify-self: start;
  background-color: #0d0f1c;
  width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 600px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .app__left {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
    grid-template-areas: "air" "pre" "sun" "forecast";
    grid-gap: 0px;
    grid-row-gap: 10px;
  }
  .time-section {
    display: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 601px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .app__left {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0;
    grid-template-areas: "air pre" "sun sun" "forecast forecast";
    grid-gap: 0px;
    grid-row-gap: 10px;
  }
  .time-section {
    display: none;
  }
}
